@model GigHub.ViewModels.ArtistsViewModel

@{
    ViewBag.Title = @Model.Heading;
}

<h1>@Model.Heading</h1>

<ul>
    @foreach (var artist in Model.FollowedArtists)
    {
        <li>
            <div class="details">
                <span class="artist">
                    @artist.Name
                </span>
                @*<span class="genre">
                    @artist.Genre.Name
                </span>*@
            </div>
        </li>
    }
</ul>

@section scripts
{
    @*<script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    })
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following")
                    })
                    .fail(function () {
                        alert("Something failed!");
                    })
            });
        });
    </script>*@
}

