@model GigHub.ViewModels.ArtistsViewModel

@{
    ViewBag.Title = @Model.Heading;
}

<h1>@Model.Heading</h1>

<ul>
    @foreach (var artist in Model.FollowedArtists)
    {
        <li>
            <div class="details">
                <span class="artist">
                    @artist.Name
                </span>
                @*<span class="genre">
                    @artist.Genre.Name
                </span>*@
            </div>
        </li>
    }
</ul>

@section scripts
{
    
}

